<% @categories.each do |category| %>
    <p><%= category.title %></p>
    <% category.items.each do |item|%>
        <p><%= item.title %></p>
        <p>$<%= item.price.to_f/100 %></p>
    <%end %>
<% end %>